.advantages {
    padding: 73px 20px 65px;
    background: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        width: 238px;
        text-align: center;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        color: #0d0d0d;
        margin-top: 35px;
    }
    &__descr {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0d0d0d;
        margin-top: 20px;
        a {
            text-transform: uppercase;
            text-decoration: underline;
            color: #ff0000;
        }
    }
    @media (max-width: 768px) {
        padding-top: 53px;
        padding-bottom: 45px;
        &__wrapper {
            margin-top: 40px;
        }
        &__item {
            width: 220px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    @media (max-width: 576px) {
        padding-top: 38px;
        padding-bottom: 35px;
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }
        &__item {
            width: 250px;
            margin-right: 0;
            & + & {
                margin-top: 40px;
            }
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
}
