.advantages {
  min-height: 473px;
  padding: 73px 20px 65px;
  background: #F6F6F6;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
  }
  &__item {
    width: 238px;
    text-align: center;    
  }
  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    color: #0D0D0D;
    margin-top: 35px;    
  }
  &__descr {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #0D0D0D;
    margin-top: 20px;
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: #ff0000;
    }
  }
}