.button {  
  width: 153px;
  height: 32px;
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  @media (max-width: 768px) {
    width: 128px;
    height: 26px;
    font-size: 10px;
  }
  @media (max-width: 576px) {
    width: 108px;
  }
  &_main {
    margin-top: 67px;
    width: 303px;
    height: 54px;     
    font-size: 16px; 
    @media (max-width: 768px) {
      width: 240px;
      height: 46px;
      font-size: 14px;
      margin-top: 57px;
    }
  }
  &_submit {
    width: 100%;
    height: 58px;
    background: $main-color;    
    font-size: 16px;    
    // text-align: center;    
  }
  &_mini {
    width: 135px;
    height: 44px;    
    font-size: 14px;    
  }
}