.carousel {
    padding: 81px 20px;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        img {
            height: auto;
            width: 100%;
        }
    }
    .slick-prev, .slick-next,
    .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        // transform: translate(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next,
    .owl-next {
        right: -66px;
        left: auto;
    }    
    .slick-dots {
        display: flex;
        margin-top: 20px;        
        list-style: none;
        justify-content: center;
        li[class="slick-active"]
            button {
                background-color: #C70101;
            }
        button {
            margin-right: 25px;
            font-size: 0;
            background-color: rgb(196, 192, 192);
            border-radius: 50%;
            border: none;
            width: 20px;
            height: 20px;
            outline: none;
        }                
    }
    
}