// Slick-slider
/* .carousel {
    padding: 81px 20px;
    &__inner {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        img {
            height: auto;
            width: 100%;
        }
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;        
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }        
    }
    .slick-next {
        right: -66px;
        left: auto;
    }    
    .slick-dots {
        display: flex;
        margin-top: 20px;        
        list-style: none;
        justify-content: center;
        li[class="slick-active"]
            button {
                background-color: #C70101;
            }
        button {
            margin-right: 20px;
            font-size: 0;
            background-color: rgb(196, 192, 192);
            border-radius: 50%;
            border: none;
            width: 10px;
            height: 10px;
            outline: none;
        }                    
    }
    @media (max-width: 768px) {
        padding: 61px 20px;
    }
    @media (max-width: 576px) {
        padding: 51px 20px;
    }          
} */

// Owl-carousel
.carousel {
    padding: 81px 20px;
    .owl-carousel {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        .owl-prev, .owl-next {
            position: absolute;
            top: 50%;        
            left: -66px;
            // border: none;
            // background-color: #fff;
            img {
                width: 31px;
                height: 50px;
            }
            &:hover {
                background-color: #fff; 
            }
        }    
        .owl-next {
            right: -66px;
            left: auto;
        }        
    }    
    .owl-dots {
        .owl-dot {
            span {
                background-color: #f7d9d9;
            }
            &:hover {
                span {
                    background-color: #f7d9d9;
                }                
            }
            &.active {
                span {
                    background-color: #c80000;
                }
            }
        }
    }
    @media (max-width: 768px) {
        padding: 61px 20px;
    }
    @media (max-width: 576px) {
        padding: 51px 20px;
    }
} 