// Owl-carousel
.carousel {
    padding: 81px 20px;
    .owl-carousel {
        position: relative;
        max-width: 750px;
        margin: 0 auto;
        .owl-prev, .owl-next {
            position: absolute;
            top: 50%;        
            left: -66px;            
            img {
                width: 31px;
                height: 50px;
            }
            &:hover {
                background-color: #fff; 
            }
        }    
        .owl-next {
            right: -66px;
            left: auto;
        }        
    }    
    .owl-dots {
        .owl-dot {
            span {
                background-color: #f7d9d9;
            }
            &:hover {
                span {
                    background-color: #f7d9d9;
                }                
            }
            &.active {
                span {
                    background-color: #c80000;
                }
            }
        }
    }
    @media (max-width: 768px) {
        padding: 61px 20px;
    }
    @media (max-width: 576px) {
        padding: 51px 20px;
    }
} 