.catalog {
    padding: 0 20px 100px;
    &__tabs {
        margin-top: 70px;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: center;        
    }
    &__tab {
        width: 222px;
        height: 52px;        
        border: 2px solid #D0D0D0; 
        margin: 0 5px;       
        font-weight: 400;
        font-size: 18px;
        line-height: 48px;        
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        cursor: pointer; 
        transform: skewX(-25deg);
        transition: 0.5s all;        
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #FFF;
            background-color: $main-color;
            border: none;
        }                               
    }
    &__content {
        margin-top: 60px;
        display: none;         
        &_active {
            display: flex;
            flex-wrap: wrap;
        }              
    }
    &-item {
        width: 303px;
        min-height: 442px;        
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        margin-bottom: 20px;
        overflow: hidden;
        &:not(:nth-child(3n+3)) {
            margin-right: 20px;
        }
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 20px;
            font-weight: 700;
            font-size: 16px;
            line-height: 25px;       
            text-align: center;
            color: #0D0D0D;
        }
        &__descr {
            margin-top: 16px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;            
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 17px;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;            
            text-align: center;
            text-decoration: underline;
            text-transform: uppercase;
            color: $main-color;
            &:hover {
                color: $main-color;    
            }
        }
        hr {
            background: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-prices {
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;            
            text-decoration: line-through;
            color: #555555;
        }
        &__prices {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;            
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 17px;
            margin-bottom: 0;
            list-style: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
            li {
                position: relative;
                font-weight: 300;
                font-size: 14px;                    
                color: #555555;
                margin-bottom: 20px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: $main-color;
                    left: -17px;
                    top: 6px;
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 17px));
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            border-bottom: 1px solid $main-color;
            line-height: 14px;
            // text-decoration: underline;
            color: $main-color;
            &:hover {
                color: $main-color;
                text-decoration: none;
            }
        }        
    }
    @media (max-width: 992px) {
        &__content {
            max-width: 670px;
            margin: 60px auto;
            padding-left: 20px; 
        }
        &-item {
            margin-right: 20px;
        }
    }
    @media (max-width: 768px) {
        &__tab {
            font-size: 14px; 
        }
        &__content {
            max-width: 345px;
        }
    }
    @media (max-width: 576px) {
        &__tabs {
            flex-direction: column;
            margin-top: 50px;
        }
        &__tab {
            margin: 0 auto 15px;
        }
        &-item {
            &__descr {
                font-size: 12px;
            }
            &__list {
                li {
                    font-size: 12px;
                }
            }
            &__old-prices {
                font-size: 13px;
            }
            &__prices {
                font-size: 16px;
            }
        }
    }        
}