.consultation {
    padding: 100px 40px 108px;
    background: url("../images/bg/consultation_bg.jpg") center (center/cover)
        no-repeat;
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
    @media (max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 68px;
    }
    @media (max-width: 768px) {
        &__descr {
            font-size: 18px;
        }
    }
    @media (max-width: 576px) {
        background-position: 50% 0;
        &__descr {
            font-size: 15px;
            text-align: center;
        }
    }
}
