.footer {    
    position: relative;
    &__map {
        height: 630px;
    }
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 53px 56px;        
    }
    &__addr {
        margin-bottom: 36px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;            
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-bottom: 36px;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #fff;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        margin: 0 27px;
        img {
            height: 25px;                       
        }        
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 1200px) {        
        &__info {
            width: 345px;
            height: 255px;
            padding: 40px 15px 33px;
        }
    }    
    @media (max-width: 992px) {
        &__map {
            height: 450px;
        }
        &__info {
            position: static;
            transform: translateX(0);
            width: 100%;
            height: 170px;
            padding: 20px 15px 20px;
        }
        &__addr, &__phone  {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__social-item {
            margin: 0 20px;
            width: 45px;
            height: 45px;
        }
    }
    @media (max-width: 576px) {
        &__map {
            height: 350px;
        }
        &__addr, &__phone  {
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
}