.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
  input {
    height: 54px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
    margin-bottom: 15px;
    padding: 0 20px;  
    font-weight: 300;
    font-size: 14px;  
    color: #4B4B4B;
    &:nth-child(3) {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 576px) {
    margin: 36px auto 0;
    width: 240px;
  }
  &_mt25 {
    margin-top: 25px;
    @media (max-width: 576px) {
      width: 100%;
      input {
        // height: 45px;
      }
    }    
  }
}