.promo {
  min-height: 650px;
  padding: 21px 20px 93px;
  background: url(../images/bg/hero_bg.jpg) center (center/cover) no-repeat;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 90px;    
  }
  &__header {    
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;      
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__subheader {    
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;    
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 17px;
  }
  &__icons {
    margin-top: 60px;
    width: 425px;
    display: flex; 
    justify-content: space-between;   
  }
  &__icon {
    width: 108px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;    
    text-align: center;
    color: #FFFFFF;
    img {
      display: block;
      height: 45px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;       
    color: #FFFFFF;
    margin-top: 18px;
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
  @media (max-width: 768px) {
    min-height: 550px;
    padding-bottom: 63px;
    background-position: 30% 0;
    &__wrapper {
      margin-top: 70px;
    }
    &__header {
      font-size: 32px;
    }
    &__subheader {
      font-size: 18px;
      margin-top: 14px;
    }
    &__icons {
      width: 350px;
      margin-top: 50px;
    }
    &__icon {
      font-size: 12px;
    }
    &__link {
      font-size: 14px;
      margin-top: 15px;
    }
  }
  @media (max-width: 576px) {
    padding: 18px 15px 43px;
    &__wrapper {
      align-items: center;
      text-align: center;
    }
    &__icons {
      width: 280px;
    }    
  }
}
  